body > div > div > div {
    position: relative;
    width: 47%;
    float: left;
}

body > div > div {
    float: left;
    clear: none;
}

form {
    background-color: #619E9F;
    border-radius: 5px;
    float: right;
    width: 47%;
    padding-top: 2%;
}

form label {
    margin-left: 5%;
    color: #FFFFFF;
    font-size: large;
    padding-top: 20px;
    font-weight: bold;
}

input[type=text], input[type=date] {
    position: relative;
    width: 90%;
    border-radius: 7px;
    height: 35px;
    margin: 5px auto;
    display: block;
    border: 0;
    font-weight: bold;
    font-size: medium;
    color: grey;
}

input[type=text]:focus, input[type=date]:focus {
    background-color: #FFFD37;
    color: #000000;
}

#email + label {
    display: block;
    position: relative;
    width: 50%;
}

