body > div > div > div {
    position: relative;
    width: 47%;
    float: left;
}

body > div > div {
    float: left;
    clear: none;
}

form {
    background-color: #619E9F;
    border-radius: 5px;
    float: right;
    width: 47%;
    padding-top: 2%;
    padding-bottom: 20px;
}

form label {
    margin-left: 5%;
    color: #FFFFFF;
    font-size: large;
    padding-top: 20px;
    font-weight: bold;
}

input[type=text], input[type=date] {
    position: relative;
    width: 90%;
    border-radius: 7px;
    height: 35px;
    margin: 5px auto;
    display: block;
    border: 0;
    font-weight: bold;
    font-size: medium;
    color: grey;
}

input[type=text]:focus, input[type=date]:focus {
    background-color: #FFFD37;
    color: #000000;
}

#email + br + label {
    display: block;
    position: relative;
    width: 40%;
    float: left;
    padding-top: 8px;
    height: 35px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
}

#favorite_color {
    position: relative;
    left: 9%;
    width: 40%;
    border-radius: 7px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#favorite_color + br + div {
    clear: both;
}

#submit, #reset {
    width: 40%;
    height: 35px;
    border-radius: 7px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: medium;
    color: grey;
    background-color: white;
}

#submit {
    margin-left: 5%;
}

#reset {
    position: relative;
    left: 9.5%;
}
